<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        padding:0 20px;
    }
    .title{
        color:black;        
        font-weight: bold;
    }
    .titlenews{
        color:blue;        
    }
    .description{
        color:black;        
    }
    .phrases {
        color:blue;        
        font-weight: bold;
    }
    td{
        padding: 0px 20px 10px 0px;
    }
    div{
        font-family: Arial, Helvetica, sans-serif;        
    }
</style>
<body>    
    <div>
        {{#each news}}
            <p class="titlenews">News</p>
            <p class="title">{{this.title}}</p>
            <p class="description">{{this.description}}</p>
        {{/each}}

        <p class="title">Phrases</p>

        <table>
            <tbody>
                {{#each phrases}}
                {{getStartTr @index}}
                    <td class="phrases">{{this}}</td>
                {{getEndTr @index}}
                {{/each}}
            </tbody>
        </table>


    </div>
</body>
</html>